{% extends 'partials/base.html' %} {% load static %} {% block content %}
<!-- Start Title -->
<section
  class="hero position-relative overflow-hidden align-items-center"
  id="home"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <h2 class="text-dark fw-light lh-base mt-5">
          <span class="fw-medium title">ATSM Plants</span> provides fresh plants
          to refresh your home, your workplace and your mind.
        </h2>
      </div>
    </div>
  </div>
  <!-- end container -->
</section>
<!-- End Title -->

<!-- shuffle portfolio -->
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 filters-group-wrap mb-3">
        <div class="filters-group">
          <ul
            class="container-filter mb-0 categories-filter list-unstyled filter-options"
          >
            <li
              class="list-inline-item categories position-relative active my-sm-0 my-2"
              data-group="all"
            >
              <a href="javascript:void(0)">All</a>
            </li>
            <li
              class="list-inline-item categories position-relative my-sm-0 my-2"
              data-group="branding"
            >
              <a class="" href="javascript:void(0)">Home</a>
            </li>
            <li
              class="list-inline-item categories position-relative my-sm-0 my-2"
              data-group="designing"
            >
              <a href="javascript:void(0)">Office</a>
            </li>
            <li
              class="list-inline-item categories position-relative my-sm-0 my-2"
              data-group="photography"
            >
              <a href="javascript:void(0)">On Desk</a>
            </li>
            <li
              class="list-inline-item categories position-relative my-sm-0 my-2"
              data-group="development"
            >
              <a href="javascript:void(0)">Outdoor</a>
            </li>
          </ul>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->

    <div id="grid" class="row">
      <div
        class="col-lg-4 col-md-6 col-12 spacing picture-item"
        data-groups='["branding"]'
      >
        <div
          class="card border-0 work-container work-grid position-relative d-block overflow-hidden rounded"
        >
          <div class="card-body p-0">
            <a href="javascript:void(0)" class="d-inline-block" title="">
              <img
                src="{% static 'images/works/img1.jpg'%}"
                class="img-fluid rounded"
                alt="work-image"
              />
            </a>
            {% comment %}
            <div class="content bg-light p-3 shadow">
              <h6>
                <a href="{% url 'home' %}" class="text-dark fw-medium fs-15"
                  >Iphone Mockup</a
                >
              </h6>
              <p class="fs-14 text-muted font-weight-normal tag mb-0">
                Branding
              </p>
            </div>
            {% endcomment %}
          </div>
        </div>
      </div>
      <!--end col-->

      <div
        class="col-lg-4 col-md-6 col-12 spacing picture-item"
        data-groups='["designing"]'
      >
        <div
          class="card border-0 work-container work-grid position-relative d-block overflow-hidden rounded"
        >
          <div class="card-body p-0">
            <a
              href="javascript:void(0)"
              data-src="{% static 'images/works/img-2.jpg'%}"
              data-gallery="myGal"
              class="d-inline-block"
              title=""
            >
              <img
                src="{% static 'images/works/img3.jpg'%}"
                class="img-fluid rounded"
                alt="work-image"
              />
            </a>
            {% comment %}
            <div class="content bg-light p-3 shadow">
              <h6>
                <a href="{% url 'home' %}" class="text-dark fw-medium fs-15"
                  >Mockup Collection</a
                >
              </h6>
              <p class="fs-14 text-muted font-weight-normal tag mb-0">Mockup</p>
            </div>
            {% endcomment %}
          </div>
        </div>
      </div>
      <!--end col-->

      <div
        class="col-lg-4 col-md-6 col-12 spacing picture-item"
        data-groups='["photography"]'
      >
        <div
          class="card border-0 work-container work-grid position-relative d-block overflow-hidden rounded"
        >
          <div class="card-body p-0">
            <a
              href="javascript:void(0)"
              data-src="{% static 'images/works/img-3.jpg'%}"
              data-gallery="myGal"
              class="d-inline-block"
              title=""
            >
              <img
                src="{% static 'images/works/img2.jpg'%}"
                class="img-fluid rounded"
                alt="work-image"
              />
            </a>
            {% comment %}
            <div class="content bg-light p-3 shadow">
              <h6>
                <a href="{% url 'home' %}" class="text-dark fw-medium fs-15"
                  >Abstract Images</a
                >
              </h6>
              <p class="fs-14 text-muted font-weight-normal tag mb-0">
                Abstract
              </p>
            </div>
            {% endcomment %}
          </div>
        </div>
      </div>
      <!--end col-->

      <div
        class="col-lg-4 col-md-6 col-12 spacing picture-item"
        data-groups='["development"]'
      >
        <div
          class="card border-0 work-container work-grid position-relative d-block overflow-hidden rounded"
        >
          <div class="card-body p-0">
            <a
              href="javascript:void(0)"
              data-src="{% static 'images/works/img-4.jpg'%}"
              data-gallery="myGal"
              class="d-inline-block"
              title=""
            >
              <img
                src="{% static 'images/works/img4.jpg'%}"
                class="img-fluid rounded"
                alt="work-image"
              />
            </a>
            {% comment %}
            <div class="content bg-light p-3 shadow">
              <h6>
                <a href="{% url 'home' %}" class="text-dark fw-medium fs-15"
                  >Yellow Background with Books</a
                >
              </h6>
              <p class="fs-14 text-muted font-weight-normal tag mb-0">Books</p>
            </div>
            {% endcomment %}
          </div>
        </div>
      </div>
      <!--end col-->

      <div
        class="col-lg-4 col-md-6 col-12 spacing picture-item"
        data-groups='["branding"]'
      >
        <div
          class="card border-0 work-container work-grid position-relative d-block overflow-hidden rounded"
        >
          <div class="card-body p-0">
            <a href="javascript:void(0)" class="d-inline-block" title="">
              <img
                src="{% static 'images/works/img6.jpg'%}"
                class="img-fluid rounded"
                alt="work-image"
              />
            </a>
            {% comment %}
            <div class="content bg-light p-3 shadow">
              <h6>
                <a href="{% url 'home' %}" class="text-dark fw-medium fs-15"
                  >Company V-card</a
                >
              </h6>
              <p class="fs-14 text-muted font-weight-normal tag mb-0">V-card</p>
            </div>
            {% endcomment %}
          </div>
        </div>
      </div>
      <!--end col-->

      <div
        class="col-lg-4 col-md-6 col-12 spacing picture-item"
        data-groups='["branding"]'
      >
        <div
          class="card border-0 work-container work-grid position-relative d-block overflow-hidden rounded"
        >
          <div class="card-body p-0">
            <a
              href="javascript:void(0)"
              data-src="{% static 'images/works/img-6.jpg'%}"
              data-gallery="myGal"
              class="d-inline-block"
              title=""
            >
              <img
                src="{% static 'images/works/img9.jpg'%}"
                class="img-fluid rounded"
                alt="work-image"
              />
            </a>
            {% comment %}
            <div class="content bg-light p-3 shadow">
              <h6>
                <a href="{% url 'home' %}" class="text-dark fw-medium fs-15"
                  >Mockup Box with Paints</a
                >
              </h6>
              <p class="fs-14 text-muted font-weight-normal tag mb-0">
                Photography
              </p>
            </div>
            {% endcomment %}
          </div>
        </div>
      </div>
      <!--end col-->

      <div
        class="col-lg-4 col-md-6 col-12 spacing picture-item"
        data-groups='["designing"]'
      >
        <div
          class="card border-0 work-container work-grid position-relative d-block overflow-hidden rounded"
        >
          <div class="card-body p-0">
            <a
              href="javascript:void(0)"
              data-src="{% static 'images/works/img-7.jpg'%}"
              data-gallery="myGal"
              class="d-inline-block"
              title=""
            >
              <img
                src="{% static 'images/works/img8.jpg'%}"
                class="img-fluid rounded"
                alt="work-image"
              />
            </a>
            {% comment %}
            <div class="content bg-light p-3 shadow">
              <h6>
                <a href="{% url 'home' %}" class="text-dark fw-medium fs-15"
                  >Coffee Cup</a
                >
              </h6>
              <p class="fs-14 text-muted font-weight-normal tag mb-0">Cups</p>
            </div>
            {% endcomment %}
          </div>
        </div>
      </div>
      <!--end col-->

      <div
        class="col-lg-4 col-md-6 col-12 spacing picture-item"
        data-groups='["development"]'
      >
        <div
          class="card border-0 work-container work-grid position-relative d-block overflow-hidden rounded"
        >
          <div class="card-body p-0">
            <a
              href="javascript:void(0)"
              data-src="{% static 'images/works/img-8.jpg'%}"
              data-gallery="myGal"
              class="d-inline-block"
              title=""
            >
              <img
                src="{% static 'images/works/img7.jpg'%}"
                class="img-fluid rounded"
                alt="work-image"
              />
            </a>
            {% comment %}
            <div class="content bg-light p-3 shadow">
              <h6>
                <a href="{% url 'home' %}" class="text-dark fw-medium fs-15"
                  >Yellow Background with Books</a
                >
              </h6>
              <p class="fs-14 text-muted font-weight-normal tag mb-0">Books</p>
            </div>
            {% endcomment %}
          </div>
        </div>
      </div>
      <!--end col-->

      <div
        class="col-lg-4 col-md-6 col-12 spacing picture-item"
        data-groups='["development"]'
      >
        <div
          class="card border-0 work-container work-grid position-relative d-block overflow-hidden rounded"
        >
          <div class="card-body p-0">
            <a
              href="javascript:void(0)"
              data-src="{% static 'images/works/img-9.jpg'%}"
              data-gallery="myGal"
              class="d-inline-block"
              title=""
            >
              <img
                src="{% static 'images/works/img12.jpg'%}"
                class="img-fluid rounded"
                alt="work-image"
              />
            </a>
            {% comment %}
            <div class="content bg-light p-3 shadow">
              <h6>
                <a href="{% url 'home' %}" class="text-dark fw-medium fs-15"
                  >Pen and Article</a
                >
              </h6>
              <p class="fs-14 text-muted font-weight-normal tag mb-0">
                Article
              </p>
            </div>
            {% endcomment %}
          </div>
        </div>
      </div>
      <!--end col-->

      <div
        class="col-lg-4 col-md-6 col-12 spacing picture-item"
        data-groups='["development"]'
      >
        <div
          class="card border-0 work-container work-grid position-relative d-block overflow-hidden rounded"
        >
          <div class="card-body p-0">
            <a
              href="javascript:void(0)"
              data-src="{% static 'images/works/img-1.jpg'%}"
              data-gallery="myGal"
              class="d-inline-block"
              title=""
            >
              <img
                src="{% static 'images/works/img10.jpg'%}"
                class="img-fluid rounded"
                alt="work-image"
              />
            </a>
            {% comment %}
            <div class="content bg-light p-3 shadow">
              <h6>
                <a href="{% url 'home' %}" class="text-dark fw-medium fs-15"
                  >Yellow Background with Books</a
                >
              </h6>
              <p class="fs-14 text-muted font-weight-normal tag mb-0">Books</p>
            </div>
            {% endcomment %}
          </div>
        </div>
      </div>
      <!--end col-->

      <div
        class="col-lg-4 col-md-6 col-12 spacing picture-item"
        data-groups='["designing"]'
      >
        <div
          class="card border-0 work-container work-grid position-relative d-block overflow-hidden rounded"
        >
          <div class="card-body p-0">
            <a
              href="javascript:void(0)"
              data-src="{% static 'images/works/img-7.jpg'%}"
              data-gallery="myGal"
              class="d-inline-block"
              title=""
            >
              <img
                src="{% static 'images/works/img11.jpg'%}"
                class="img-fluid rounded"
                alt="work-image"
              />
            </a>
            {% comment %}
            <div class="content bg-light p-3 shadow">
              <h6>
                <a href="{% url 'home' %}" class="text-dark fw-medium fs-15"
                  >Coffee Cup</a
                >
              </h6>
              <p class="fs-14 text-muted font-weight-normal tag mb-0">Cups</p>
            </div>
            {% endcomment %}
          </div>
        </div>
      </div>
      <!--end col-->

      <div
        class="col-lg-4 col-md-6 col-12 spacing picture-item"
        data-groups='["development"]'
      >
        <div
          class="card border-0 work-container work-grid position-relative d-block overflow-hidden rounded"
        >
          <div class="card-body p-0">
            <a
              href="javascript:void(0)"
              data-src="{% static 'images/works/img-8.jpg'%}"
              data-gallery="myGal"
              class="d-inline-block"
              title=""
            >
              <img
                src="{% static 'images/works/img5.jpg'%}"
                class="img-fluid rounded"
                alt="work-image"
              />
            </a>
            {% comment %}
            <div class="content bg-light p-3 shadow">
              <h6>
                <a href="{% url 'home' %}" class="text-dark fw-medium fs-15"
                  >Yellow Background with Books</a
                >
              </h6>
              <p class="fs-14 text-muted font-weight-normal tag mb-0">Books</p>
            </div>
            {% endcomment %}
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center mt-5">
          <a href="{% url 'products' %}" class="btn btn-primary me-2"
            >More Plants <i class="mdi mdi-arrow-right ms-1"></i
          ></a>
          <a href="{% url 'contact' %}" class="btn btn-primary"
            >Get In Touch <i class="mdi mdi-lifebuoy ms-1"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %} {% block extra_js %}

<!-- Shuffle JS -->
<script src="{% static 'js/shuffle.min.js'%}"></script>
<script src="{% static 'js/gallery.init.js'%}"></script>

{% endblock extra_js %}
